body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
}

.Quadrato{
  width: 2500px;
  text-align: center;
  display: center;
  align-items: center;
  margin: auto;
  margin-top: 15%;
  background-color: rgb(105,105,105,0.8);
  height: 1500px;
}

.resize{
  margin-top: 2%;
}

h1{
  font-size: 70px;
  color: #39FF14;
}

nav{
  text-align: center;
}
.ContenitoreNav{
 background-color: rgb(57,255,20);
 border: 15px solid rgb(57,255,20);
 margin-left: 5%;
 margin-right: 5%;
}

.buttons{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.checkbox{
  width: 30px;
}



.TitoliMain{
  color: white;
  margin-left: 2%;
  font-size: 50px;
}

.MainText{
  justify-content: flex-start;
  display: flex;
  margin-left: 5%;
  margin-bottom: -1%;
}

.SecText{
  justify-content: flex-start;
  display: flex;
  margin-left: 5%;
  font-size: 30px;
  color: white;
}

.CaricaText{
  justify-content: flex-start;
  display: flex;
  margin-left: 5%;
  font-size: 30px;
  color: white;
}

.barracarica{
  justify-content: flex-start;
  display: flex;
  margin-left: 5%;
  background-color: orange;
  width: 1000px;
  font-size: 30px;
  color: orange;
}

.barracaricadue{
  justify-content: flex-start;
  display: flex;
  margin-left: 5%;
  background-color: Green;
  width: 2000px;
  font-size: 30px;
  color: Green;
}

.barracaricatre{
  justify-content: flex-start;
  display: flex;
  margin-left: 5%;
  background-color: red;
  width: 500px;
  font-size: 30px;
  color: red;
}
